* {
	padding: 0px;
	margin: 0px;
	font: inherit;
	box-sizing: border-box;
	color: inherit;
	line-height: 1;
}

ul,
li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

:root {
	--primary: 29 155 240;
	--primary-color: rgb(var(--primary) / .4);
	--bg-color: rgb(var(--primary) / 0.03);

	--hv-primary-color: rgb(var(--primary) / 1);
	--hv-bg-color: rgb(var(--primary) / .1);
}

body {
	height: 100vh;
	display: grid;
	align-items: center;
	font-family: 'Space Grotesk', sans-serif;

	background: radial-gradient(circle,
			#09f 10%,
			transparent 0%), #e3edf7;
	background-size: 10px 10px;
	/* Tamaño de cada patrón de círculo */
}

/* theme */
.theme {
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding: 1rem 2rem;
	border-radius: .5rem;
	background-color: var(--bg-color);
	border: 1px solid var(--primary-color);
	font-weight: 600;
	color: var(--hv-primary-color);
	z-index: 1000;
}

.theme__colors {
	margin-top: 1rem;
	display: flex;
	justify-content: space-evenly;
	gap: 1.5rem;
}

.theme__colors>button {
	cursor: pointer;
	flex: 1;
	height: 30px;
	background-color: var(--bg-clr);
	border-radius: .25rem;
	border: none;
}


/* TREE */
.tree {
	width: 100%;
	height: auto;
	text-align: center;
}

ul[class^="tree__lvl"] {
	padding-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: start;
}

.tree__child {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 10px;
	transition: .5s;
	height: auto;
}

.tree__child::before,
.tree__child::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid var(--primary-color);
	width: 51%;
	height: 10px;
}



.tree__child::after {
	left: 50%;
	border-left: 1px solid var(--primary-color);
}


.tree__child:only-child::after,
.tree__child:only-child::before,
.tree__child:first-child::before,
.tree__child:last-child::after {
	display: none;
}

.tree__child:last-child::before {
	border-right: 1px solid var(--primary-color);
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree__child:last-child::after {
	display: none;
}

.tree__child:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid var(--primary-color);
	width: 0;
	height: 20px;
}


.tree__node {
	border: 1px solid var(--primary-color);
	padding: 10px;
	display: inline-grid;
	place-content: center;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
	background-color: var(--bg-color);
	backdrop-filter: blur(2px);
	box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
	color: #94a0b4;
	position: relative;
	z-index: 100;
	min-width: 120px;
	min-height: 150px;
}

.tree__node img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin: auto;
	margin-bottom: 10px;
}

.tree__node span {
	padding: 8px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 500;
}

.btn-add {
	--ratio: 30px;
	position: absolute;
	width: var(--ratio);
	height: var(--ratio);
	display: grid;
	place-content: center;
	border-radius: 50%;
	background-color: #f2f2f2;
	transform: scale(0);
	transition: transform 300ms;
	z-index: 100;

	svg {
		pointer-events: none;
	}
}

.btn-add--up {
	top: calc(var(--ratio)/2 * -1);
	left: calc(50% - calc(var(--ratio)/2));
}

.btn-add--right {
	bottom: calc(50% - calc(var(--ratio)/2));
	right: calc(var(--ratio)/2 * -1);
}

.btn-add--down {
	bottom: calc(var(--ratio)/2 * -1);
	left: calc(50% - calc(var(--ratio)/2));
}

.btn-add--left {
	bottom: calc(50% - calc(var(--ratio)/2));
	left: calc(var(--ratio)/2 * -1);
}


/*Hover-Section*/
.tree__node:hover,
.tree__node:hover span,
.tree__node:hover+ul .tree__node {
	background: var(--hv-bg-color);
	color: var(--hv-primary-color);
}

.tree__node:hover .btn-add {
	transform: scale(1);

	&:hover {
		transform: scale(1.2);
	}
}

.tree__node:hover+ul li::after,
.tree__node:hover+ul li::before,
.tree__node:hover+ul::before,
.tree__node:hover+ul ul::before {
	border-color: var(--hv-primary-color);
}